* {
  margin: 0;
  padding: 0;
}

html,
body {
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

body {
  background: #063352
    radial-gradient(circle, #063352 0%, #091419 75%, #091419 100%);
  color: #ecf0f1;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

.lines {
  z-index: -5;
  position: absolute;
  top: 0;
  right: 15%;
  height: 100%;
  margin: auto;
  width: 35%;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(27, 103, 145, 0.1);
  overflow: hidden;
}

.line:after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(27, 103, 145, 0) 0%,
    #1b6791 75%,
    #1b6791 100%
  );
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
  margin-left: -25%;
}

.line:nth-child(1):after {
  animation-delay: 2s;
}

.line:nth-child(3) {
  margin-left: 25%;
}

.line:nth-child(3):after {
  animation-delay: 2.5s;
}

@keyframes drop {
  0% {
    top: -50%;
  }

  100% {
    top: 110%;
  }
}

.error {
  text-align: center;
  .fa-triangle-exclamation {
    font-size: 90px;
    color: #a22;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

main.blog {
  width: 800px;
}
main {
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  width: 600px;
  margin: 15px auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  header {
    padding-bottom: 5px;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    a {
      position: relative;
      color: #fff;
      text-decoration: none;
      img {
        position: relative;
        border-radius: 50%;
        height: 90px;
        width: 90px;
        padding: 0;
        margin: 0;
        border: 15px solid transparent;
        margin-top: 12px;
        z-index: 15;
        transition: all 0.3s ease-out;
      }
    }
    a.profile-img:before {
      content: "";
      border: 15px solid rgba(255, 255, 255, 0.3);
      border-radius: 50%;
      height: 90px;
      width: 90px;
      position: absolute;
      left: 0;
      bottom: 3px;
      animation: pulsate 1.6s ease-out;
      animation-iteration-count: infinite;
      opacity: 0;
      z-index: 10;
    }
    img {
      height: 300px;
      width: 300px;
      margin-top: 12px;
    }
    a:hover img {
      transform: scale(1.06, 1.06);
    }
    a:hover:before {
      animation: none;
    }
    h1 {
      font-size: 28px;
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      opacity: 0.9;
      margin-bottom: 8px;
    }
    h2 {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.2;
      margin-top: 0;
      opacity: 0.9;
    }
    p {
      padding-top: 5px;
      margin: 12px;
      text-align: center;
      opacity: 0.9;
    }
    ul {
      position: relative;
      margin: 0 auto;
      height: 20px;
      margin-bottom: -20px;
      text-align: right;
      padding-right: 10px;
      padding-top: 10px;
      li {
        a:before {
          animation: none;
          border: 0;
        }
        display: inline-block;
        padding: 3px 5px 0;
        .fa,
        a {
          color: #fff;
        }
        .fa-twitter {
          color: #1da1f2;
        }
        .fa-linkedin-in {
          color: #0077b5;
        }
        .fa-github {
          color: #4078c0;
        }
        .fa-envelope,
        .fa-blog,
        .fa-phone {
          color: #aaa;
        }
        i {
          font-size: 28px;
          opacity: 0.8;
          transition: all 0.2s ease-out;
        }
        a:hover i {
          opacity: 1;
          transform: scale(1.1, 1.1);
        }
      }
    }
  }
  section,
  article,
  aside {
    background: #ecf0f1;
    color: #0a0a0a;
    border-top: 1px solid #aaa;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    a {
      color: #0077b5;
    }
    header {
      border-radius: 0;
      background: none;
      text-align: justify;
      h1 {
        text-align: justify;
        font-size: 36px;
      }
      h2 {
        font-size: 18px;
      }
      h3 {
        font-size: 16px;
      }
      small {
        font-size: 12px;
      }
      section {
        font-size: 12px;
      }
    }
  }
  footer {
    border-radius: 0 0 5px 5px;
    position: relative;
    background: #0a0a0a;
    margin: 0 auto;
    text-align: center;
    padding: 6px 0;
    li {
      display: inline-block;
      padding: 3px 5px 0;
      .fa-twitter {
        color: #1da1f2;
      }
      .fa-linkedin-in {
        color: #0077b5;
      }
      .fa-github {
        color: #4078c0;
      }
      .fa-envelope,
      .fa-blog,
      .fa-phone {
        color: #aaa;
      }
      i {
        font-size: 28px;
        opacity: 0.8;
        transition: all 0.2s ease-out;
      }
      a:hover i {
        opacity: 1;
        transform: scale(1.1, 1.1);
      }
    }
  }
  footer:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #0a0a0a;
    border-width: 10px;
    margin-left: -10px;
  }
}
*,
:after,
:before {
  box-sizing: border-box;
}

[data-tooltip] {
  position: relative;
  &:before,
  &:after {
    opacity: 0;
    position: absolute;
    left: 50%;
    backface-visibility: hidden;
  }
  &:before {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #0a0a0a;
    border-left-color: transparent;
    border-style: solid;
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-bottom-width: 0;
    content: "";
    top: -2px;
    width: 0;
    height: 0;
    transform: translate(-50%, calc(-50% - 6px));
    transition: opacity 0.1s cubic-bezier(0.73, 0.01, 0, 1) 0s,
      transform 0.6s cubic-bezier(0.73, 0.01, 0, 1) 0s,
      -webkit-transform 0.6s cubic-bezier(0.73, 0.01, 0, 1) 0s;
    z-index: 10;
  }
  &:after {
    background: #0a0a0a;
    content: attr(data-tooltip);
    text-align: center;
    padding: 10px 10px 9px;
    font-size: 16px;
    border-radius: 8px;
    color: #ecf0f1;
    transition: opacity 0.3s cubic-bezier(0.73, 0.01, 0, 1),
      transform 0.3s cubic-bezier(0.73, 0.01, 0, 1),
      -webkit-transform 0.3s cubic-bezier(0.73, 0.01, 0, 1);
    pointer-events: none;
    z-index: 10;
    white-space: nowrap;
    bottom: 100%;
    transform: translate(-50%, 12px);
    max-width: 320px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

[data-tooltip] {
  &:focus,
  &:hover {
    &:before,
    &:after {
      opacity: 1;
    }
  }
  &:focus,
  &:hover {
    &:before {
      transition: opacity 0.1s cubic-bezier(0.73, 0.01, 0, 1) 0.1s,
        transform 0.6s cubic-bezier(0.73, 0.01, 0, 1) 0.1s,
        -webkit-transform 0.6s cubic-bezier(0.73, 0.01, 0, 1) 0.1s;
      transform: translate(-50%, calc(-50% - 2px));
    }
    &:after {
      transform: translate(-50%, -6px);
    }
  }
}

[data-tooltip]:before {
  border-style: solid;
  border-top-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-top-width: 0;
  top: auto;
  bottom: -6px;
  left: 50%;
  -webkit-transform: translate(-50%, calc(-50% + 6px));
  transform: translate(-50%, calc(-50% + 6px));
}

[data-tooltip]:after {
  top: 100%;
  left: 50%;
  bottom: auto;
  -webkit-transform: translate(-50%, -12px);
  transform: translate(-50%, -12px);
}

[data-tooltip]:focus:before,
[data-tooltip]:hover:before {
  -webkit-transform: translate(-50%, calc(-50% + 2px));
  transform: translate(-50%, calc(-50% + 2px));
}

[data-tooltip]:focus:after,
[data-tooltip]:hover:after {
  -webkit-transform: translate(-50%, 6px);
  transform: translate(-50%, 6px);
}

[data-tooltip]:after {
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

@keyframes pulsate {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@media (max-width: 600px) {
  main,
  main.blog {
    width: 100%;
  }
  main.blog {
    header {
      ul {
        margin-bottom: 0px;
      }
    }
  }
}
